* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background: #000000;
	color: #ffffff;
       background-color: #030303;
       background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2353387f' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
        font-size: 16px;
}

a{
	color: #ffffff;
	text-decoration: none;
}

ul {
	list-style: none;
}

.container {
	width: 90%;
	margin: auto;
}

.nav-main {
	font-size: 17px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 20px 0;
}

.nav-brand {
	width: 50px;
}

/* NAV left */
.nav-main ul {
	display: flex;
}

.nav-main ul li {
	padding: 10px;
}

.nav-main ul li a{
	padding: 6px;
}

.nav-main ul.nav-menu {
	flex: 1;
	margin-left: 20px;
}

.nav-main ul li a:hover {
	border-bottom: 2px solid #ffffff;
}

.nav-main ul.nav-menu {
	flex: 1;
	margin-left: 20px;
}

.showcase {
	width: 100%;
	height: 550px;
	background: url('../Imagenes/Logotipo1.png') no-repeat center center/cover;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
        justify-content: flex-end;
}

.text {
    color: #ffffff
}

.btn {
	cursor: pointer;
	display: inline-block;
	border: 0;
	font-weight: bold;
	padding: 10px 20px;
	background: #262626;
	color: #ffffff;
	font-size: 15px;
	border: 1px solid #fff;
}

.btn:hover{
    opacity: .7;
    background-color: #ff0000;
	border-color: 4d148c;
}