body {
    background-color: #b4b4b4;
}

.nav {
    background-color: #4d148c;
}

.button{
    border-color: #ff6600;
    background-color: #4d148c;
    color: aliceblue;
}

.button:hover{
    background-color: #ff6600;
    border-color: #4d148c;
    color: aliceblue;
}

.button:active{
    background-color: #ff9752;
}

.text{
    color: aliceblue;
}

.text:hover{
    background-color: #ff6600;
    color: aliceblue;
}


.menu {
    background-color: #4d148c;
    color: aliceblue;
}

/* .menu:hover{
    background-color: #7944b3;
    color: #ff6600;
} */