body {
    background-color: white;
}

.nav {
    background-color: #4d148c;
}

.button{
    border-color: #ff6600;
    background-color: #4d148c;
    color: aliceblue;
}

.button:hover{
    background-color: #ff6600;
    border-color: #4d148c;
    color: aliceblue;
}

.button:active{
    background-color: #ff9752;
}

.text{
    color: aliceblue;
}

.text:hover{
    background-color: #ff6600;
    color: aliceblue;
}


.menu {
    background-color: #4d148c;
    color: aliceblue;
}

/* .menu:hover{
    background-color: #7944b3;
    color: #ff6600;
} */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.form-register {
	width: 400;
	background: #24303c;
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	border-radius: 4px;
	font-family: 'calibri';
	color: white;
	box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
	font-size: 22px;
	margin-bottom: 20px;
}

.controls {
	width: 100%;
	background: #24303c;
	padding: 10px;
        color: white;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid white;
	font-family: 'calibri';
	font-size: 18px;
}

.form-register p {
	height: 70px;
	text-align: center;
	font-size: 18px;
	line-height: 20px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
	color: white;
	text-decoration: underline;
}

.form-register .botons {
    width: 90%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 10px 0;
    font-size: 16px;
}